* {
    box-sizing: border-box;
}

body {
    background-image: url("https://media.giphy.com/media/VxbvpfaTTo3le/giphy.gif");
    background-size: cover;

}

img {
    width: 200px;
    height: 200px;
    margin: 0 25px;
    transition: all 0.4s ease;
}

.picked {
}

.cover {
display: grid;
justify-content: center;
align-items: flex-start;

}

[data-title = "1" ] {
    margin-bottom: 0px;
    font-family: 'Bradley Hand', sans-serif;
    font-size: 80px;
}

[data-title = "2" ] {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Bradley Hand', sans-serif;
    font-size: 50px;
    text-align: center;
}

.screenTwo { 
    height: 50px;
    margin:0px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: lightblue;

}

#showComputerChoice {
    color: crimson;
    font-weight: bold;
    font-size: large;
    
}

.screenOne { 
    height: 50px;
    margin:0px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

#showPlayerChoice {
    color: crimson;
    font-weight: bold;
    font-size: large;
    
}


.content { 
    cursor:pointer;
    text-align: center;
    display: flex;
    justify-content: center;
}

.content div:hover{
    transform: scale(1.1);
}



.result {
    display: grid;
    justify-content: center;
    align-items: center;
    
}

#resultWindow {
    font-weight: bold;
    font-size: 30px;
}

.dropdown {
    display: grid;
}

table{
    border:1px solid black;
  }

th {
    border:1px solid black;
    color: crimson;
    background-color: lightblue;
}

td {
    border:1px solid black;
}